:root {
    --satisfy: 'Satisfy', cursive; /* use for header */
    --sac: 'Sacramento', cursive;
    --caveat: 'Caveat', cursive; /* use for story content*/
}

*,
body,
html {
    margin: 0;
}

/* Side navigation styling */
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    overflow-y: hidden; /* Disable horizontal scroll */
    height: 100%;
}

#sidenavIcon {
    width:   30px;
    height:  30px;
    margin:  10px 10px 3px 10px;
}
  
.sidenav a {
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav ul {
      list-style: none;
}

@media only screen and (min-width: 1440px) {
    .sidenav a {
        font-size: 2rem;
        padding: 6%;
    }
    
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-container {
    position: relative;
}

.gallery-content {
    text-align: center;
    position: absolute;
    font-family: var(--satisfy);
    font-size: 6rem;
    color: black;
}

@media only screen and (max-width: 1292px) {
    .gallery-content {font-size: 5rem;}
}
@media only screen and (max-width: 1077px) {
    .gallery-content {font-size: 4rem;}
}
@media only screen and (max-width: 861px) {
    .gallery-content {font-size: 3rem;}
}
@media only screen and (max-width: 646px) {
    .gallery-content {font-size: 2rem;}
}
@media only screen and (max-width: 431px) {
    .gallery-content {font-size: 1.9rem;}
}
@media only screen and (max-width: 409px) {
    .gallery-content {font-size: 1.5rem;}
}
@media only screen and (max-width: 323px) {
    .gallery-content {font-size: 1rem;}
}
@media only screen and (max-width: 216px) {
    .gallery-content {font-size: 0.7rem;}
}

.gallery-container img {
    width: 100%;
}

.space {
    position: relative;
    width: 100%;
    height: 75vh;
    background-color: yellow;
}

.space--blue {
    background-color: #263485;
}

.story-content {
    font-size: 1.5rem;
    font-family: var(--caveat);
    color: black;
}

.story-content h1 {
    text-align: center;
}

.story-content p {
    text-align: center;
}

@media only screen and (max-width: 350px) {
    .story-content h1 {font-size: 1rem;}
    .story-content p {font-size: 1rem;}
}

/* Ceremony & Reception Styling */
.flex {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    column-gap: 4%;
}

.flex-column img {
    width: 65%;
    border-radius: 50%;
    
}

.flex-column p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.date {
    text-align: center;
}

.location {
    font-family: sans-serif;
    text-align: center;
    background-color: pink;
    font-size: 2rem;
}

.date {
    font-family: sans-serif;
    text-align: center;
    background-color: pink;
    font-size: 2rem;
    padding-top: 5%;
}

.map {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.css-button-fully-rounded--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #d90429;
    background: #d90429;
}

  .css-button-fully-rounded--red:hover {
    background: #fff;
    color: #d90429
}

.amazon {
    display: block;
    margin: auto;
    width: 75%;
    padding-top: 15%;
}

.faqs-container {
    width: 100%;
    height: 75vh;
    background-color: #263485;
}

.faqs-container h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 3.5rem;
}

/* Amazon Registry Gift Items */
.gift-container {
    display: flex;
    width: 100%;
}

.gift-item {
    height: 200px;
}
