@font-face {
    font-family: "gats";
    src: url("./assets/fonts/GatkinsDemo-K7W8l.otf") format('woff2');
}

@font-face {
    font-family: "biancha";
    src: url("./assets/fonts/Biancha-X3VOa.otf") format('woff2');
}

@font-face {
    font-family: "lovelyHome";
    src: url("./assets/fonts/LovelyHome-9aBZ.ttf") format('woff2');
}

@font-face {
    font-family: "carrot";
    src: url("./assets/fonts/RafelyaCarrotin-3zwKp.ttf") format('woff2');
}

@font-face {
    font-family: "romance";
    src: url("./assets/fonts/Romantica-RpXpW.ttf") format('woff2');
}

@font-face {
    font-family: "midnight";
    src: url("./assets/fonts/MidnightSignature-qZYpx.otf") format('woff2');
}

@font-face {
    font-family: "honey";
    src: url("./assets/fonts/HelloHoneyPersonalUse-2OEo8.otf") format('woff2');
}

@font-face {
    font-family: "anythingI";
    src: url("./assets/fonts/AnythingScript1Italic-4BKxY.ttf") format('woff2');
}

@font-face {
    font-family: "caveat";
    src: url("./assets/fonts/static/Caveat-Regular.ttf") format('woff2');
}

@font-face {
    font-family: "indie";
    src: url("./assets/fonts/IndieFlower-Regular.ttf") format('woff2');
}

@font-face {
    font-family: "shadow";
    src: url("./assets/fonts/ShadowsIntoLight-Regular.ttf") format('woff2');
}

:root {
    --gradient-1: linear-gradient(90deg, hsla(350, 100%, 88%, 0.9) 50%, hsla(319, 74%, 64%, 1) 100%);
    --selda: linear-gradient(90deg, #fad0c4 0%, #f1a7f1 74%);
    --mother: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    --coffee: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
}

body {
    background: hsla(350, 100%, 88%, 1);
    background: linear-gradient(90deg, hsla(350, 100%, 88%, 0.9) 50%, hsla(319, 74%, 64%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(350, 100%, 88%, 0.9) 50%, hsla(319, 74%, 64%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(350, 100%, 88%, 0.9) 50%, hsla(319, 74%, 64%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFC0CB", endColorstr="#E761BD", GradientType=1 );
    width: 100%;
    margin: 0;
}

.main {
    margin-left: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    margin-left: 170px;
}

/* Side navigation styling */
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    /* background-color: pink; */
    overflow-x: hidden; /* Disable horizontal scroll */
}

#sidenavIcon {
    width: 30px;
    height:  30px;
    margin:  10px 10px 3px 10px;
}
  
.sidenav a {
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav ul {
      list-style: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a { font-size: 18px;}
  }

/* On smaller screens, where width is less than 600px, hide the sidebar */
@media screen and (max-width: 627px) {
    .sidenav {
        width:0;
        margin-left:0;
    }
    .main { margin-left:0; }
  }

  /* Parallax scroll */
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.no-parallax {
    z-index: 999;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}

/* Background styling */
.bg::after {
    background: url("./assets/images/c+j-12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2::after {
    background: url("./assets/images/c+j-4.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3::after {
    background: url("./assets/images/galljpg.jpg");
    
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-color {
    background: var(--coffee);
}

.bg-gradient {
    background: var(--selda);
}

/* Banner styling */
.banner {
    position: relative;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.banner h1 {
    width: 100%;
}

.banner h2 {
  width: 100%;
}

/* On smaller screens, where width is less than 419px, change the font size of the banner */
@media only screen and (max-width: 419px) {
    .banner-content {font-size: 0.5rem;}
}

/* .banner h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "caveat";
    color: blueviolet;
}

.banner h3 {
    font-size: 3rem;
    text-align: center;
    font-family: "caveat";
    color: blue;
} */

.banner img {
    width: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "caveat";
    color: pink;
    font-size: 1rem;
}

/* Story styling */
.story {
    text-align: center;
    background-color: white;
}

/* Date & Location styling */
.date {
    background-color: white;
    text-align: center;
}

.location {
    text-align: center;
}

/* Ceremony & Reception styling */
.flex {
    transform-style: preserve-3d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.flex-column img {
    width: 70%;
    border-radius: 50%;
}

.flex-column p {
    text-align: center;
}

.rsvp {
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.heasked {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-top: 1em;
}

.heasked h1 {
    
    font-size: 4rem;
}

/* Registry styling */
.registry {
    text-align: center;
}

.registry a > img{
    width: 50%;
}

/* Gallery styling */
.gallery-header {
    background-color: white;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    margin-top: 10em;
    justify-content: center;
    overflow: visible;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.gallery::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    padding: 5px;
}

.gallery-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "caveat";
    color: pink;
    font-size: 6rem;
}

/* FAQS styling */
.faqs {
    /* background-color: white; */
    text-align: left;
}

/* Button styling */
button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
}
