@font-face {
    font-family: "gats";
    src: url("./assets/fonts/GatkinsDemo-K7W8l.otf") format('woff2');
}

@font-face {
    font-family: "biancha";
    src: url("./assets/fonts/Biancha-X3VOa.otf") format('woff2');
}

@font-face {
    font-family: "lovelyHome";
    src: url("./assets/fonts/LovelyHome-9aBZ.ttf") format('woff2');
}

@font-face {
    font-family: "carrot";
    src: url("./assets/fonts/RafelyaCarrotin-3zwKp.ttf") format('woff2');
}

@font-face {
    font-family: "romance";
    src: url("./assets/fonts/Romantica-RpXpW.ttf") format('woff2');
}

@font-face {
    font-family: "midnight";
    src: url("./assets/fonts/MidnightSignature-qZYpx.otf") format('woff2');
}

@font-face {
    font-family: "honey";
    src: url("./assets/fonts/HelloHoneyPersonalUse-2OEo8.otf") format('woff2');
}

@font-face {
    font-family: "anythingI";
    src: url("./assets/fonts/AnythingScript1Italic-4BKxY.ttf") format('woff2');
}

@font-face {
    font-family: "caveat";
    src: url("./assets/fonts/static/Caveat-Regular.ttf") format('woff2');
}

@font-face {
    font-family: "indie";
    src: url("./assets/fonts/IndieFlower-Regular.ttf") format('woff2');
}

@font-face {
    font-family: "shadow";
    src: url("./assets/fonts/ShadowsIntoLight-Regular.ttf") format('woff2');
}

body {
    background-color: pink;
    width: 100%;
    margin: auto;
}

.main {
    margin-left: 0px;
}

.content {
    margin:  1em;
    border-radius: 1em;
    border-style:  ridge;
}

/* Side navigation styling */
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: pink;
    overflow-x: hidden; /* Disable horizontal scroll */
}

#sidenavIcon {
    width: 30px;
    height:  30px;
    margin:  10px 10px 3px 10px;
}
  
.sidenav a {
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav ul {
      list-style: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a { font-size: 18px;}
  }

/* On smaller screens, where width is less than 600px, hide the sidebar */
@media screen and (max-width: 627px) {
    .sidenav {
        width:0;
        margin-left:0;
    }
    .main { margin-left:0; }
  }

/* Banner styling */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    max-width: 800;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "caveat";
    color: pink;
    font-size: 3rem;
}

/* On smaller screens, where width is less than 800px, change the font size of the banner */
@media only screen and (max-width: 800px) {
    .banner-content {
      font-size: 1rem;
    }
  }

/* Story styling */
.story {
    text-align: center;
    background-color: white;
}

.story-header {

}

.story-paragraph {

}

/* Date & Location styling */
.date {
    @extend .content;
    background-color: white;
    text-align: center;
}

.location {
    background-color: white;
    text-align: center;
}

/* Ceremony & Reception styling */
.flex {
    display: flex;
    background-color: white;
    flex-direction: row;
}

.flex-column img {
    width: 70%;
    border-radius: 50%;
}

.flex-column p {
    text-align: center;
}

.rsvp {
    margin:  1em;
    text-align: center;
}

.heasked {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-top: 1em;
}

.heasked h1 {
    
    font-size: 4rem;
}

/* Registry styling */
.registry {
    background-color: white;
    text-align: center;
    padding-bottom: 15px;
}

.registry a > img{
    width: 15%;
}

/* Gallery styling */
.gallery-header {
    background-color: white;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 2em;
    justify-content: center;
}

.gallery-content {
    text-align: center;
    margin-bottom: 15px;
}

.gallery-content img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    padding: 5px;
}

/* FAQS styling */
.faqs {
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.faqs h1 {
    text-align: center;
}

/* Button styling */
button {
    width: 100px;
    height: 40px;
    border-radius: 50px;
}
